GOOGLE_CLOUD_PROJECT=GOOGLE_CLOUD_PROJECT_ID
GOOGLE_CLOUD_LOCATION=global
GOOGLE_GENAI_USE_VERTEXAI=True
GOOGLE_APPLICATION_CREDENTIAL=./grad-paddy-firebase-adminsdk-fbsvc-5c475865e8.json:/app/secrets/service-account.json:ro

# SCRAPER
# ── Elasticsearch Serverless ──────────────────────────────────────────────────
ES_URL=https://<deployment-id>.es.<region>.aws.elastic.cloud
ES_API_KEY=
PROGRAM_ES_INDEX=grad-programs

# ── Embedding model ───────────────────────────────────────────────────────────
EMBEDDING_MODEL=text-embedding-004


# ── Scraping behavior ─────────────────────────────────────────────────────────
DOWNLOAD_DELAY=2
CONCURRENT_REQUESTS=4
LOG_LEVEL=INFO

# --- Google gemini settings ---------------
GEMINI_ENABLED=true            
GEMINI_MODEL=gemini-2.5-flash  

# --- Program and Faculty URLs
PROGRAM_URLS_FILE =program_urls.txt
FACULTY_URLS_FILE =faculty_urls.txt